div(class="modal fade bd-example-modal-lg" id="modalnuevocliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
  div(class="modal-dialog modal-lg" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title" id="exampleModalLabel") NUEVO CLIENTE
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body")
        form(class="needs-validation" novalidate ,style="border: 8px black inset; font-family: bold" align="center" id="formcliente")
          .form-row
            .form-group.col-md-6
              .form-group(class="container")
                label NOMBRE
                input(type="text" class="form-control" id="nombre" style="border: 2px blue outset" required pattern="*.")
                <div class="invalid-tooltip">
                loo  Por favor ingrese nombre.!
                </div>    
            .form-group.col-md-6
              .form-group(class="container")
                label DIRECCION
                input(type="text" class="form-control" id="direccion" style="border: 2px blue outset" required pattern="*.")
                <div class="invalid-tooltip">
                loo  Por favor ingrese direccion.!
                </div>           
          .form-row  
            .form-group.col-md-6
              .form-group(class="container")
                label CORREO ELECTRONICO
                input(type="email" class="form-control" id="correo" style="border: 2px blue outset" required pattern="*.")                        
                <div class="invalid-tooltip">
                loo  Por favor ingrese Email valido!
                </div> 
            .form-group.col-md-6
              .form-group(class="container")
                label DIRECCION DE FACTURACION
                input(type="text" class="form-control" id="dirfact" style="border: 2px blue outset" required pattern="*.")                          
                <div class="invalid-tooltip">
                loo  Por favor ingrese direcccion de facturacion.!
                </div> 
          .form-row
              .form-group.col-md-3              
                .form-group(class="container")
                  label NIT
                  input(type="text" class="form-control" id="nit" style="border: 2px blue outset" required pattern="[0-9]{7}-[0-9]{1}") 
                  <div class="invalid-tooltip">
                  loo  Por favor ingrese NIT valido!
                  </div>          
              .form-group.col-md-3              
                .form-group(class="container")
                  label TELEFONO
                  input(type="text" class="form-control" id="telefono" style="border: 2px blue outset" required pattern="[0-9]{4}-[0-9]{4}")
                  <div class="invalid-tooltip">
                  loo  Por favor ingrese TELEFONO valido.!
                  </div>           
              .form-group.col-md-3
                .form-group(class="container")
                  label ESTADO
                  select(id="estado" class="form-control" style="border: 2px blue outset")
                    option.select ACTIVO
                    option.select DE BAJA                        
              .form-group.col-md-3
                .form-group(class="container")                
                  label TIPO DE PAGO
                  <select id="tipopago" class="form-control" style="border: 2px blue outset">
                  for tipo in datos.data
                    <option value=#{tipo.id}>#{tipo.nombre}</option>  
                  </select>
          .form-row
              .form-group.col-md-3             
                .form-group(class="container")
                  label TIPO DE SERVICIO
                  <select id="tiposervicio" class="form-control" style="border: 2px blue outset">
                  for tipo2 in servicios.data
                    <option value=#{tipo2.id}>#{tipo2.nombre}</option>
                  </select>
              .form-group.col-md-3              
                .form-group(class="container")
                  label FECHA INGRESO
                  input(type="text" class="form-control" id="fecha" style="border: 2px blue outset" required)          
                  <div class="invalid-tooltip">
                  loo  Por favor ingrese Fecha!
                  </div> 
              .form-group.col-md-4              
                .form-group(class="container")
                  label TIPO DE MORA
                  <select id="tipoMora" neme="tipoMora" class="form-control" style="border: 2px blue outset">
                  for tipo3 in moras.data
                    <option value=#{tipo3.id}>#{tipo3.descripcion} #{tipo3.porcentaje}%</option>
                  </select>                                                    
          .form-row
              .form-group.col-md-3              
                .form-group(class="container")
                  label SALDO Q.
                  input(type="number" class="form-control" id="saldo" style="border: 2px blue outset" step="0.01" required)          
                  <div class="invalid-tooltip">
                  loo  Por favor ingrese saldo!
                  </div> 
              .form-group.col-md-3              
                .form-group(class="container")
                  label ANTICIPO Q.
                  input(type="number" class="form-control" id="anticipo" style="border: 2px blue outset" step="0.01" required)
                  <div class="invalid-tooltip">
                  loo  Por favor ingrese anticipo!
                  </div> 
                  <input type="text" id="bandera" name="bandera">
                  <input type="text" id="id" name="id">          
      div(class="modal-footer")
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="check1">
          <label id="che" class="form-check-label" for="check1">MODIFICAR DATOS</label>
        </div>
        <div class="form-group form-check">
          button(type="button" id="btnCerrar" name="btnCerrar" class="btn btn-secondary" data-dismiss="modal" style="border: 2px black outset") CERRAR
          button(button type="button" id="btnGuardar" name="btnGuardar" class="btn btn-primary" style="border: 2px black outset") GUARDAR
      </div>     
            
