// barra principal de arriba
.content-page-container.full-reset.custom-scroll-containers(style='background-color:   #f8f9f9 ;')
  nav.navbar-user-top.full-reset(style='background-color: #021528')
    ul.list-unstyled.full-reset
      li(style='color:#fff; cursor:default;')
        span.all-tittles
      li.tooltips-general.exit-system-button(data-href='/', data-placement='bottom', title='Salir del sistema')
        i.zmdi.zmdi-power
      li
        font(face='Balmoral LET', size='6', color='white' )
          | SKY RANGER GUATEMALA
  
  //body page --------------------------------------------------------------------------------------------------------------
  nav(class="navbar navbar-light bg-light")  
    span
      button(type="button" id="btnnuevovehiculo" name="btnnuevovehiculo" class="button blue radius hover")            
        span(class="fas fa-user-plus")
      button(type="button" id="btnasignargps" name="btnasignargps" class="button blue radius hover")            
        span(class="fas fa-map-marker-alt")
        | 
        span(class="fas fa-car")
      
      //li: a(href="/index") Nuevo
    form(class="form-inline")      
      font(face="Balmoral LET", size="6", color="black")
        | VEHICULOS    
          
  section.full-reset(style="padding: 10px; background-color: #ffffff")  
    font(face="Balmoral LET", size="6", color="black")
      | ADMINISTRADOR DE VEHICULOS
  section.full-reset(style="padding: 10px; background-color: #ffffff")  
    font(face="Balmoral LET", size="3", color="black")         
      <div class="table-responsive">
        table(id="tablaVehiculos" class="table table-hover" style="text-align: center")
          thead(class="thead-dark")
            tr
              th(scope="col") #
              th(scope="col") CLIENTE
                <br>
                <input class="form-control form-control-sm" id="buscarPorCliente" type="text" placeholder="Buscar...">
              th(scope="col") MARCA
              th(scope="col") LINEA
              th(scope="col") MODELO
              th(scope="col") COLOR
              th(scope="col") PLACA
                <br>
                <input class="form-control form-control-sm" id="buscarPorPlaca" type="text" placeholder="Buscar...">
              th(scope="col") ESTADO
              th(scope="col") OPCIONES
          <tbody id="tablita">
          for vehiculo in datosV.data
            tr
              th(scope="row")
              <td>#{vehiculo.cliente.nombre}</td>
              <td>#{vehiculo.marca}</td>
              <td>#{vehiculo.linea}</td>
              <td>#{vehiculo.modelo}</td>
              <td>#{vehiculo.color}</td>
              <td>#{vehiculo.placa}</td>
              <td>#{vehiculo.estado}</td>
              <td>
              <div class="input-group">
              <div class="input-group-append" id="btnver">
                <button type="button" class="buttonsmall hover" onClick="verVehiculo(#{vehiculo.id})">
                span(class="fas fa-user-edit")
          
