// barra principal de arriba
.content-page-container.full-reset.custom-scroll-containers(style='background-color:   #f8f9f9 ;')
  nav.navbar-user-top.full-reset(style='background-color: #021528')
    ul.list-unstyled.full-reset
      li(style='color:#fff; cursor:default;')
        span.all-tittles
      li.tooltips-general.exit-system-button(data-href='/', data-placement='bottom', title='Salir del sistema')
        i.zmdi.zmdi-power
      li
        font(face='Balmoral LET', size='6', color='white' )
          | SKY RANGER GUATEMALA
  
  //body page --------------------------------------------------------------------------------------------------------------
  nav(class="navbar navbar-light bg-light")  
    span           
      //li: a(href="/index") Nuevo
    form(class="form-inline")      
      font(face="Balmoral LET", size="6", color="black")
        | VEHICULOS    
          
  section.full-reset(style="padding: 10px; background-color: #ffffff")  
    font(face="Balmoral LET", size="6", color="black")
  section.full-reset(style="padding: 10px; background-color: #ffffff")  
    font(face="Balmoral LET", size="3", color="black")         
    <input id="total" type="text" value=#{datosV.data.length}>
      <div class="table-responsive">
        table(id="tabla" class="display" style="text-align: center")
          thead(class="thead-dark")
            tr
              th(scope="col") #
              th(scope="col") CLIENTE
              th(scope="col") MARCA
              th(scope="col") LINEA
              th(scope="col") MODELO
              th(scope="col") COLOR
              th(scope="col") PLACA
              th(scope="col") ESTADO
              th(scope="col") OPCIONES
          <tbody id="tablita">
          for vehiculo in datosV.data
            tr
              <th scope="row"></th>
              <td>#{vehiculo.cliente.nombre}</td>
              <td>#{vehiculo.marca}</td>
              <td>#{vehiculo.linea}</td>
              <td>#{vehiculo.modelo}</td>
              <td>#{vehiculo.color}</td>
              <td>#{vehiculo.placa}</td>
              <td>#{vehiculo.estado}</td>
              <td>
              <div class="input-group">
              <div class="input-group-append" id="btnverVehiculo">
                <button type="button" class="buttonsmall hover" onClick="verVehiculo(#{vehiculo.id})">
                span(class="fas fa-user-edit")
                <button type="button" class="buttonsmall hover" onClick="asignarGPS(#{vehiculo.id},'#{vehiculo.placa}')">
<<<<<<< HEAD
                span(class="fas fa-map-marker-alt")
                | 
                span(class="fas fa-car")  
    nav(aria-label="Page navigation example")
      ul(class="pagination")
        li(class="page-item" id="anterior").a(class="page-link" href="#") Anterior
        li(class="page-item" id="pagina" value="1").a(class="page-link" href="#") 1        
        li(class="page-item" id="siguiente").a(class="page-link" href="#") Siguiente
          
=======
                span(class="fas fa-map-marker-alt")              
                span(class="fas fa-car")  
                button(type="button" class="buttonsmall hover" id="historialvehiculo" onClick="")
                  span(class="fas fa-book")
    
>>>>>>> c051f5eaf453d82d994403c7c7547b9fa6e93425
