// barra principal de arriba
.content-page-container.full-reset.custom-scroll-containers(style='background-color:   #f8f9f9 ;')
  nav.navbar-user-top.full-reset(style='background-color: #021528')
    ul.list-unstyled.full-reset
      li(style='color:#fff; cursor:default;')
        span.all-tittles
      li.tooltips-general.exit-system-button(data-href='/', data-placement='bottom', title='Salir del sistema')
        i.zmdi.zmdi-power
      li
        font(face='Balmoral LET', size='6', color='white' )
          | SKY RANGER GUATEMALA
  
  //body page --------------------------------------------------------------------------------------------------------------
  nav(class="navbar navbar-light bg-light")  
    span
      button(type="button" id="btnnuevocliente" name="btnnuevocliente" class="button blue radius hover" style="border: 2px black outset")            
        span(class="fas fa-user-plus")
      //li: a(href="/index") Nuevo
    form(class="form-inline")
      h(align="center" style="text:center" text="center")
        font(face="Balmoral LET", size="6", color="black")
          | CLIENTES    
              
  section.full-reset(style="padding: 10px; background-color: #ffffff")  
    font(face="Balmoral LET", size="2.5", color="black")   
    <h1 align="center"></H1>
    <div class="table-responsive">
      table(class="table table-hover" style="text-align: center" id="tablaCliente")
        thead(class="thead-dark")
          <tr>
            <th scope="col">#</th>
            <th scope="col">NOMBRE
            <br>
            <input class="form-control form-control-sm" id="buscarnombre" type="text" placeholder="Buscar...">
            </th>
            <th scope="col">NIT
            </th>
            <th scope="col">DIRECCION FISCAL</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">CORREO ELECTRONICO</th>
            <th scope="col">OPCIONES</th>
          </tr>
        </thead> 
        <tbody id="tablita">
        for cliente in data.data
          <tr>
            <th scope="row"></th>
            <td>#{cliente.nombre}</td>
            <td>#{cliente.nit}</td>
            <td>#{cliente.direccion_fiscal}</td>
            <td>#{cliente.telefono}</td>
            <td>#{cliente.correo}</td>
            <td>
            <div class="input-group">
            <div class="input-group-append" id="btnver">
              <button type="button" class="buttonsmall hover" onClick="ver(#{cliente.id})">
              span(class="fas fa-user-edit")
              </button>      
            </div>
          </div>
            </td>
          </tr>
        </tbody>     
      </div>

    nav(aria-label="Page navigation example")
      ul(class="pagination")
        li(class="page-item").a(class="page-link" href="#") Anterior
        li(class="page-item").a(class="page-link" href="#") 1        
        li(class="page-item").a(class="page-link" href="#") Siguiente
